{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
</head>
<body>
    <div class="intro-mini">
        <div class="container">
             <header>
                <div class="top">
                    <div>
                        <nav class="logo">
                            <a href="/">DiagnosNN</a>
                        </nav>
                    </div>
                    <nav class="mainMenu">
                        <a href="/analyses">Диагностика</a>
                        <a href="/contacts">О нас</a>
                    </nav>
                </div>
             </header>
        </div>
    </div>

    <div class="contacts">
        <div class="container">
            <h3 class="analyses-title">О нас</h3>
            <div class="contacts-wr">
                <div class="contacts-wr-person">
                    <img src="{% static 'img/ilyuza.jpg' %}" alt="person">
                    <p><b>Фахртдинова Илюза Динафовна</b><br>Backend developer</p>
                </div>
                <div class="contacts-wr-person">
                    <img src="{% static 'img/daniel.jpg' %}" alt="person">
                    <p><b>Соловьёв Даниил Алексеевич</b><br>ML developer</p>
                </div>
                <div class="contacts-wr-person">
                    <img src="{% static 'img/polina.jpg' %}" alt="person">
                    <p><b>Дорженковская Полина Константиновна</b><br>Frontend developer</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>